* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    /* Palette */
    --primary-col: #0084fd;
    --primary-col-light: #b5ddff;
    --secondary-col: #9792e4;
    --secondary-col-light: #d5d4f4;
    /* Commons */
    --text-col: #111;
    --white-col: #fff;
    --dark-gray: #333;
}

body{
    color: var(--dark-gray);
}

a{
    text-decoration: none;
}

ul{
   list-style: none;
}

.btn{
    color: var(--white-col);
    background-color: var(--secondary-col);
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    margin: 10px;
    max-width: 35%;
}

.btn-start{
    color: var(--secondary-col);
    background-color: var(--white-col);
    border-radius: 40px;
    padding: 20px 70px;
    text-align: center;
    margin: 20px;
    width: 50%;
}

/* common classes */

.p-fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.d-flex {
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.d-jc-sb {
    justify-content: space-between;
}

.ai-center {

    align-items: center;

}

.card-content .fa-solid {
    font-size: 60px;
}

#arrow{
    font-size: 60px;
        background-color: var(--secondary-col);
        border-radius: 50%;
        height: 60px;
        width: 60px; 

}

.number{
    font-size: 60px;
    font-weight: bold;
}

#testimonial {
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

/* mobile */

.site-header {
    background-color: var(--primary-col);
    height: 60px;
    width: 100%;
}

.site-main {
    margin-top: 110px;
}

.site-header .container {

    padding: 10px 20px;
    width: 100%;
}

.big {
    display: none;
}

#logo {
    height: 30px;

}

.container img {
    width: 100%;
}

#phone{
    max-width: 300px;
}

.section-text {
    padding: 20px;
    text-align: center;
}
.text-left{
    text-align: left;
}

/* card */

.card {
    text-align: center;
    box-sizing: border-box;
    margin: 50px;
    border-radius: 30px;
}

.card-content {
    padding: 15px;
}

.quotes .fa-solid{
    font-size: 25px;
}






/* sezione background */

.bg-purple {
    background-color: var(--secondary-col);
}

.bg-lighbtlue {
    background-color: var(--primary-col-light);
}

.bg-white {
    background-color: white;
}

footer {
    background-color: var(--dark-gray);
    color: var(--white-col);
    font-size: 12px;
}

footer .section-text {
    margin-bottom: 0;
}

.color-prpl{
    color:var(--secondary-col)
}

.color-wht{
    color: var(--white-col);
}

.color-blue{
    color: var(--primary-col);
}




@media all and (min-width: 768px){

   
    .site-main .container{
       max-width: 700px;
       margin: 0 auto;
       
      
    }

    .d-flex{
        display: flex;
    }

    .f-wrap{
        flex-wrap: wrap;
    }



 
    .size1x{
       width: calc(33.333% - 1.5rem);
       margin: 10px .75rem;
    }
 
    .card.size-2x{
       width: calc(66.666% - 1.5rem);
       margin: 10px .75rem;
    }

    .container img {
        width: 100%;
       
    }

    .w-50{
        width: calc(48% - 1.5rem);
        margin: 10px .75rem;
     }

     .testimonial{
         display: flex;
         align-items: center;
     }

     .testimonial .card-content{
         text-align: left;
     }
 }
 
 @media all and (min-width: 992px){
    .site-main .container{
        max-width: 1100px;
        margin: 0 auto;
    }


    .site-header .container{
       max-width: 1100px;
       margin: 0 auto;
    }
    .w-50{
        width: calc(33% - 1.5rem);
        margin: 10px .75rem;
     }
    
    .site-header .container .navigation .small{
       display: none;
    }
    .site-header .container .navigation .big{
       display: block;
    }
    .site-header .container .navigation .big ul li{
       display: inline-block;
       
       padding: 5px 10px;
    }
 
 
 }