*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

/* common classes */

.p-fixed{
    position: fixed;
    top: 0;
    left: 0;
}

.d-flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.d-jc-sb{
    justify-content: space-between;
}

.ai-center{

    align-items: center;

}

.card-content .fa-solid{
    font-size: 60px;
}

#testimonial{
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

/* mobile */

.site-header{
    background-color: lightskyblue;
    height: 60px;
    width: 100%;
}

.site-main{
    margin-top: 110px;
}

.site-header .container{

    padding: 10px 20px;
    width: 100%;
}

.big{
    display: none;
}

#logo{
    height: 30px;

}

.container img{
    max-width: 425px;
    width: 100%;
}

.section-text{
    margin: 50px;
    text-align: center;
}

/* card */

.card{
    text-align: center;
    box-sizing: border-box;
    margin: 50px;
    border-radius: 30px;
}

.card-content{
     padding: 15px;   
}




/* sezione background */

.bg-purple{
    background-color: plum;
}

.bg-lighbtlue{
    background-color: lightskyblue;
}

.bg-white{
    background-color: white;
}

footer{
    background-color: aquamarine;
}

footer .section-text{
    margin-bottom: 0;
}